@page "/categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorScaffoldingNoAuth.Models
@using BlazorScaffoldingNoAuth.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorScaffoldingNoAuth.Data.BlazorScaffoldingNoAuthContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<div class="card-container">
    <div class="row">
        @foreach (var category in context.Category)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p>@category.Name</p>

                        <div class="card-actions">
                            <a href="@($"categories/edit?id={category.Id}")">Edit</a>
                            <a href="@($"categories/details?id={category.Id}")">Details</a>
                            <a href="@($"categories/delete?id={category.Id}")">Delete</a>
                        </div>
                    </div>
                </div>
            </div>    
        }
    </div>
</div>

@code {
    private BlazorScaffoldingNoAuthContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
