@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorScaffoldingNoAuth.Models
@using BlazorScaffoldingNoAuth.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorScaffoldingNoAuth.Data.BlazorScaffoldingNoAuthContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="products/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Product.Include(p => p.Category)">
    <PropertyColumn Property="product => product.Name" />
    <PropertyColumn Property="product => product.Description" />
    <PropertyColumn Property="product => product.ImageUrl" />
    <PropertyColumn Property="product => product.Price" />
    <PropertyColumn Property="product => product.Category.Name" />

    <TemplateColumn Context="product">
        <a href="@($"products/edit?id={product.Id}")">Edit</a> |
        <a href="@($"products/details?id={product.Id}")">Details</a> |
        <a href="@($"products/delete?id={product.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorScaffoldingNoAuthContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
